<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table border="1">
    <caption>Timetable</caption>
    <tr>
        <th>Time start</th>
        <td>8.30</td>
        <td>9.25</td>
        <td>10.10</td>
        <td>11.10</td>
        <td>12.30</td>
        <td>13.20</td>
        <td>14.15</td>
        <td>15.10</td>
    </tr>
    <th:block th:each="lesson:${map}">
        <tr>
            <th:block th:each="less:${lesson}">
                <td th:text="${less}"></td>
            </th:block>
        </tr>
    </th:block>
</table>
<form method="get" name="change" th:action="@{/admin/timetable}">
    Choose day and number of lesson:
    <select name="day">
        <option value="Monday" th:text="Monday"></option>
        <option value="Thuesday" th:text="Thuesday"></option>
        <option value="Wednesday" th:text="Wednesday"></option>
        <option value="Thursday" th:text="Thursday"></option>
        <option value="Friday" th:text="Friday"></option>
        <option value="Saturday" th:text="Saturday"></option>
        <option value="Sunday" th:text="Sunday"></option>
    </select>
    <select name="pair">
        <option value="one" th:text="1"></option>
        <option value="two" th:text="2"></option>
        <option value="three" th:text="3"></option>
        <option value="four" th:text="4"></option>
        <option value="five" th:text="5"></option>
        <option value="six" th:text="6"></option>
        <option value="seven" th:text="7"></option>
    </select>
<br/>
<select name="subject">
    <option value=""></option>
    <th:block th:each="lesson:${subjects}">
        <option th:value="${lesson}" th:text="${lesson}"></option>
    </th:block>
</select>
<input type="submit" value="Submit"/>
</form>

<form name="home" method="get" th:action="@{/admin/timetable}">
    <input type="submit" value="Return"/>
</form>
</body>
</html>