<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Change</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border-radius: 8px;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 10px;
            margin: 8px 0px;
            display: inline-block;
            border: 2px solid #64B5F6;
            border-radius: 8px;
            box-sizing: border-box;
        }

        input[type=submit] {
            background-color: #90CAF9;
            color: black;
            padding: 14px 0px;
            margin: 8px 0;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            opacity: 0.8;
        }

        .container {
            padding: 4px;
            padding-left: 480px;
            padding-right: 480px;
        }

    </style>
</head>
<body>
<p align="center">Choose class, subject and teacher:</p><br/>
<div class="container">
    <form name="change" method="get" th:action="@{/admin/changesub}">
        <select name="schclass">
            <th:block th:each="cl:${classes}">
                <option th:value="${cl}" th:text="${cl}"></option>
            </th:block>
        </select>
        <select name="teacher">
            <th:block th:each="teacher:${teachers}">
                <option th:value="${teacher.getLogin()}" th:text="${teacher.getSurname()}"></option>
            </th:block>
        </select>
        <input type="text" name="subject"/>
        <select name="action">
            <option value="add">add</option>
            <option value="delete">delete</option>
        </select>
        <input type="submit" value="Submit"/>
    </form>

    <form name="logout" method="get" th:action="@{/admin}">
        <input type="submit" value="Back to menu"/>
    </form>
</div>
</body>
</html>