<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Timetable</title>
</head>
<body>
<form name="change" method="get" th:action="@{/admin/timetable/change}">
    Choose class or teacher:<br/>
    <select name="schclass">
        <option value=""></option>
        <th:block th:each="lesson:${map.get('classes')}">
            <option th:value="${lesson}" th:text="${lesson}"></option>
        </th:block>
    </select><br/>
    <select name="teacher">
        <option value=""></option>
        <th:block th:each="lesson:${map.get('teachers')}">
            <option th:value="${lesson}" th:text="${lesson}"></option>
        </th:block>
    </select><br/>
    or input new class<br/>
    <input type="text" name="newclass"/>
    <input type="submit" value="Submit"/>
    <br/>
</form>
<form name="home" method="get" th:action="@{/admin}">
    <input type="submit" value="Return to menu"/>
</form>
</body>
</html>