<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Main</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <table border="1">
        <caption>Marks and Exams</caption>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <td>Surname</td>
            <td>Login</td>
            <td>Class(students),Subject(teachers)</td>
        </tr>
        <th:block th:each="user:${allusers}">
            <tr>
                <th th:text="${user.getId()}"></th>
                <th th:text="${user.getName()}"></th>
                <th th:text="${user.getSurname()}"></th>
                <th th:text="${user.getLogin()}"></th>
                <th th:text="${user.getClassorsubject()}"></th>
            </tr>
        </th:block>
    </table>
    <form>
        <table border="1">
            <caption>Change data</caption>
            <tr>
                <td>Action</td>
                <td>Login</td>
                <td>Name parameter</td>
                <td>Value</td>
            </tr>
            <tr>
                <td>
                    <select name="action">
                        <option value="change">change</option>
                        <option value="delete">delete</option>
                    </select>
                </td>
                <td>
                    <select name="login">
                       <th:block th:each="user:${allusers}">
                           <option th:value="${user.getLogin()}" th:text="${user.getLogin()}"></option>
                       </th:block>
                    </select>
                </td>
                <td>
                    <select name="parametr">
                        <option value="name" th:text="name"></option>
                        <option value="surname" th:text="surname"></option>
                        <option value="role" th:text="role"></option>
                        <option value="classorsubject" th:text="classorsubject"></option>
                    </select>
                </td>
                <td>
                    <input type="text" name="parameter"/>
                </td>
            </tr>
        </table>
        <input type="submit" value="Change"/>
    </form>
    <form name="home" method="get" th:action="@{/admin}">
        <input type="submit" value="Return to menu"></input>
    </form>
</div>
</body>
</html>