<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<form action="/home" method="get">
    Action:<br></br>
    <select name="action">
        <option value=""></option>
        <option value="add">Add</option>
        <option value="update">Update</option>
        <option value="invalidate">Invalidate</option>
        <option value="delete">Remove</option>
    </select>
    <br></br>
    <span style="color:black">Name:</span>
    <input type="text" name="name"></input>
    <br>Value:</br>
    <input type="text" name="value"></input>
    <br></br>
    <input type="submit" value="Submit"></input>
</form>
<p style="color: red" th:text="${message}"></p>
<table>
    <tr>
        <td>name</td>
        <td>value</td>
    </tr>
    <th:block th:each="user : ${users}">
        <tr>
            <td><p th:text="${user.getName()}"></p></td>
            <td><p th:text="${user.getValue()}"></p></td>
        </tr>
    </th:block>
</table>
</body>
</html>