<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
</head>
<body>
<h1 th:text="${message}"></h1>
<form action="/main" method="get">
    <input type="submit" value="Return"></input>
</form>
</body>
</html>