<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<form action="/main" method="get">

    <br>Please input your word:</br>
    <input type="text" name="word"></input>
    <br></br>
    <input type="submit" value="Submit"></input>
</form>
<h1 th:text="${result}"></h1>

</body>
</html>