<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>sqw</title>
</head>
<body>
<table border="1">
    <caption>Marks and Exams</caption>
    <tr><th>Subject</th><td>1</td><td>2</td><td>1 semester</td><td>3</td><td>4</td><td>2 semester</td>
        <td>Year</td><td>Exam</td><td>Date exam</td></tr>
    <th:block th:each="lesson:${list}">
    <tr><th th:text="${lesson}"></th><th:block th:each="les:${map.get(lesson)}"><td th:text="${les}"></td></th:block>
    <td><p th:text="${dates.get(list.indexOf(lesson))}"></p></td></tr>
    </th:block>
</table>
<form name="home" method="get" th:action="@{/school}">
    <input type="submit" value="Return to menu"/>
</form>
</body>
</html>