<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Magazine</title>
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        form {border-radius: 8px;}

        input[type=submit] {
            background-color: #90CAF9;
            color: black;
            padding: 14px 0px;
            margin: 8px 0;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            opacity: 0.8;
        }

        .container {
            padding: 4px;
            padding-left: 460px;
            padding-right: 460px;
        }

    </style>
</head>
<body>
<div class="container">
<table border="1">
    <caption>Marks and Exams</caption>
    <tr><th>Name\Dates</th><th:block th:each="date:${dates}"><td><p th:text="${date}"></p></td></th:block><td>semester</td>
    <td>Exam</td></tr>
    <th:block th:each="user:${users}">
        <tr><th th:text="${user.getSurname() + ' ' + user.getName()}" ></th>
            <th:block th:each="mark:${map.get(user.getSurname())}"><td th:text="${mark}"></td>
            </th:block> <td th:text="${exams.get(user.getLogin())}"></td> </tr>
    </th:block>
</table>
<table border="1">
    <caption>Homeworks</caption>
    <th:block th:each="h:${hw}">
    <tr>
        <td th:text="${names.get(hw.indexOf(h))}"></td><td th:text="${h}"></td>
    </tr>
    </th:block>
</table>
<form name="home" method="get" th:action="@{/school}">
    <input type="submit" value="Return to menu"/>
</form>
</div>
</body>
</html>