<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>sqw</title>
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        form {border-radius: 8px;}

        input[type=submit] {
            background-color: #90CAF9;
            color: black;
            padding: 14px 0px;
            margin: 8px 0;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            opacity: 0.8;
        }

        .container {
            padding: 4px;
            padding-left: 460px;
            padding-right: 460px;
        }

    </style>
</head>
<body>
<div class="container   ">
<p align="center">Main menu</p>
<p align="center"><a href="/school/exams">All exams and marks</a></p>
    <p align="center">List of subjects:</p>
    <form action="/school/magazine">
        <p align="center">
        <select name="subject">
            <th:block th:each="subjectt:${subjects}">
                    <option th:value="${subjectt}" th:text="${subjectt}"></option>
            </th:block>
        </select>
        </p>
        <input type="submit" value="go"/>
    </form>
<p align="center"><a href="/school/timetable">Timetable</a></p>
    <form name="logout" method="get" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>