<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <title>sqw</title>
</head>
<body>
<table border="1">
    <caption>Timetable </caption>
    <tr><th>Time start</th><td>8.30</td><td>9.25</td><td>10.10</td><td>11.10</td><td>12.30</td><td>13.20</td><td>14.15</td>
        <td>15.10</td></tr>
    <th:block th:each="lesson:${list}">
        <tr><th:block th:each="less:${lesson}"><td th:text="${less}"></td></th:block></tr>
    </th:block>
</table>
<form name="home" method="get" th:action="@{/}">
    <input type="submit" value="Return to menu"></input>
</form>
</body>
</html>