<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
</head>
<body>
<p th:text="${message}"></p>
<form th:action="${link}" method="get">
    <input type="submit" value="Return"/>
</form>
</body>
</html>