<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>sqw</title>
</head>
<body>
<th:block th:each="mes:${message}">
    <p style="color: red" th:text="${mes.getId() + ' ' + mes.getLogin() + ' ' + mes.getPassword()}"></p>
</th:block>
<form th:action="@{/logout}">
    <input type="submit" value="Log Me Out"/>
</form>
</body>
</html>