<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <title>Exams</title>
</head>
<body>
<table border="1">
    <caption>Exams</caption>
    <tr>
        <th>Class</th>
        <td>Date exam</td>
    </tr>
    <th:block th:each="lesson:${list}">
        <tr>
            <th th:text="${lesson}"></th>
            <td th:text="${dates.get(list.indexOf(lesson))}"></td>
        </tr>
    </th:block>
</table>

<form name="addexam" method="get" th:action="@{/teacher/exams}">
    <table border="1">
        <caption>Exams</caption>
        <tr>
            <th>Class</th>
            <td>Date exam</td>
        </tr>
        <th:block th:each="lesson:${list}">
            <tr>
                <th th:text="${lesson}"></th>
                <td><input type="text" size="2" th:name="${lesson}"/></td>
            </tr>
        </th:block>
    </table>
    <input type="submit" value="Submit"/>
</form>
<form name="home" method="get" th:action="@{/teacher}">
    <input type="submit" value="Return to menu"></input>
</form>
</body>
</html>