<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Magazine</title>
</head>
<body>
<table border="1">
    <caption>Marks and Exams</caption>
    <tr>
        <th>Name\Dates</th>
        <th:block th:each="date:${dates}">
            <td><p th:text="${date}"></p></td>
        </th:block>
        <td>semester</td>
        <td>Exam</td>
    </tr>
    <th:block th:each="user:${users}">
        <tr>
            <th th:text="${user.getSurname() + ' ' + user.getName()}"></th>
            <th:block th:each="mark:${map.get(user.getSurname())}">
                <td th:text="${mark}"></td>
            </th:block>
            <td th:text="${exams.get(user.getLogin())}"></td>
        </tr>
    </th:block>
</table>
<table border="1">
    <caption>Homeworks</caption>
    <th:block th:each="h:${hw}">
        <tr>
            <td th:text="${names.get(hw.indexOf(h))}"></td><td th:text="${h}"></td>
        </tr>
    </th:block>
</table>
<form name="magazine" method="get" th:action="@{/teacher/magazine}">
<table border="1">
    <caption>You can edit marks and dates</caption>
        <tr>
            <th>Name</th>
            <td>
                <select name="date">
                    <th:block th:each="date:${dates}">
                        <option th:value="${numbers.get(dates.indexOf(date))}" th:text="${date}"></option>
                    </th:block>
                    <option th:value="input" th:name="input"></option>
                </select>
            </td>
            <td><input type="text" size="2" name="inputdate"/></td>
            <td>Exam</td>
        </tr>
        <tr>
            <td>
                <select name="user">
                    <th:block th:each="user:${users}">
                        <option th:value="${user.getLogin()}"
                                th:text="${user.getSurname() + ' ' + user.getName()}"></option>
                    </th:block>
                </select>
            </td>
            <td>
                <input type="text" size="2" name="value"/>
            </td>
            <td></td>
            <td>
                <input type="text" size="2" name="examvalue"/>
            </td>
        </tr>
</table>
<input type="submit" value="Submit"/>
</form>
<form name="homework" method="get" action="/teacher/magazine">
<p>Input name homework</p>
<input type="text" name="namehw"/>
<p>Input homework</p>
<input type="text" name="hw"/><br/>
<input type="submit" value="Submit"/>
</form>
<form name="home" method="get" th:action="@{/teacher}">
    <input type="submit" value="Return to menu"/>
</form>
</body>
</html>