<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <p>Main menu</p>
    <p><a href="/teacher/exams">All exams</a></p>
    List of classes:
    <form action="/teacher/magazine">
        <select name="schclass">
            <th:block th:each="subjectt:${list}">
                <option th:value="${subjectt}" th:text="${subjectt}"></option>
            </th:block>
        </select>
        <input type="submit" value="go"/>
    </form>
    <p><a href="/teacher/timetable">Timetable</a></p>
    <form name="logout" method="get" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>