<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
</head>
<body>
You have a <p  th:text="${answers}"></p> true answers.
 <br></br>
False answers: <p th:text="${list}"></p>
</body>
</html>