<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<form name="test" method="post" action="/login">
    <p><b>Your login:</b><br></br>
        <input type="text" size="40" name="log"></input>
    </p>
    <p><input type="submit" value="Submit"></input>
        <input type="reset" value="Clear"></input></p>
</form>
<p style="color: red" th:text="${message}"></p>
</body>
</html>