<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data" action="/upload">
    File:<br></br>
    <input type="file" name="file"></input><br></br>
    <input type="submit" value="Submit"></input>
</form>

<p>Your login:</p>
<p style="color: black" th:text="${message}"></p>

</body>
</html>