<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <title>Тег INPUT</title>
</head>
<body>


<form name="home" method="get" th:action="@{/home}">
    <th:block th:each="question:${questions}">
        <br></br>
        <p th:text="${question}"></p>
        <br></br>
        <th:block th:each="answer:${answers.get(questions.indexOf(question)+1)}">
            <!--th:block th:each="ans:${answer}"-->
                <input type="radio" th:name="${question.substring(0,1)}" th:value="${answer.substring(0,1)}">
            <label th:text="${answer}"></label>
               </input><br/>
            <!--/th:block-->
        </th:block>
    </th:block>
    <p><input type="submit" value="Отправить"/>
        <input type="reset" value="Очистить"/>
    </p>
</form>

</body>
</html>