<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<form action="/home" method="get">
    Action:<br></br>
    <select name="action">
        <option value=""></option>
        <option value="add">Add</option>
        <option value="update">Update</option>
        <option value="invalidate">Invalidate</option>
        <option value="delete">Remove</option>
    </select>
    <br>Name:</br>
    <input type="text" name="name"></input>
    <br>Value:</br>
    <input type="text" name="value"></input>
    <br></br>
    <input type="submit" value="Submit"></input>
</form>
<h1 th:text="${prop}"></h1>
</body>
</html>